* {
  box-sizing: border-box;
}

:root {
  --card-padding: 5px 10px;
  --card-margin: 20px 10px;
  --card-border-radius: 10px;
  --card-bg-color: #F8F8F8;
  --button-padding: 10px 10px;
  --highlight-color-seashell: #FFF5EE;
}

.loading-spinner {
  width: 40px;
  height: 40px;
  border: 4px solid black;
  border-top: 4px solid grey;
  border-radius: 50%;
  animation: 
    spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.country-card {
  background-color: var(--card-bg-color);
  padding: var(--card-padding);
  margin: var(--card-margin);
  border-radius: var(--card-border-radius);
  height: max-content;
  align-items: center;
}

.country-card:hover {
  cursor: pointer;
  background-color: var(--highlight-color-seashell);
  transform: scale(1.01);
}

.country-card .flag {
  display: block;
  margin: 5px auto;
  width: max-content;
  
}

.country-name-logos {
  display: flex;
  gap: 10px;
}

.country-name-logos h2 {
  width: 70%;
}

.UN-lock-logos {
  position: absolute;
  right: 30px;
  padding-top: 10px;
  width: 20%;  
  flex-wrap: wrap;
}

.UN-lock-logos img {
  width: 50%;
  justify-self: flex-end;
  max-width: 70px;
}

.population {
  display: flex;
  align-items: center;
  gap: 5px;
  
}
.population-icon {
  width: 20px;
}

.coat-of-arms-icon {
  width: 20px;
}

.card-independent {
  display: flex;
  align-items: center;
  gap: 5px;
}

.country-page h1 {
  text-align: center;
}

.country-page h1:hover {
  cursor: pointer;
}

.country-page-coat-of-arms-svg {
  width: 50px;
}

.country-page-under-name-div, .country-page-overview {
  display: flex; 
  justify-content: center;
  gap: 50px;
}

.country-page-under-name-div div, .country-page-overview div {
  width: 130px;
  
}

.country-page-under-name-div h4, .country-page-under-name-div p, .country-page-overview p {
  text-align: center;
  padding: 5px 0px;
  margin: 0px 0px;
}

.country-page-overview img {
  display: block;
  margin: 0 auto;
}

.country-page-nav-grid {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 1rem;
 padding: 1rem;
 text-align: center;
}

.country-page-nav-item {
  border-radius: 10px;
  padding: 10px 10px;
}

.active {
  background-color: yellow;
}
.country-page-nav-item img {
  width: 50px;
  margin-bottom: 0;
}

.country-page-nav-item:hover {
  transform: scale(1.05);
  cursor: pointer;
  font-weight: bold;
  background-color: pink;
  
}